<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing</title>
	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>

    <script>
    	$(document).ready(function(){
	    	window.return_token("{{ token }}")
    	})
    </script>
</head>
<body>
    <div>Landing page. Token:</div>
    <div>{{ token }}</div>
</body>
</html>
