<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Star</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>    
  </head>
  <body>
  	<h1>Welcome to Star</h1>
  	<button id="login">Login</button>
  	<div id="token">waiting...</div>
  </body>
    <script crossorigin="anonymous">
    	$(document).ready(function(){
	    	$("#login").on("click", function(){
	    		wnd = window.open("https://auth.dev.recursosartisticos.tvglobo.com.br/login?response_type=token&scope=email+openid+aws.cognito.signin.user.admin&client_id=2al36bn9cdmr3vguj0bu526snj&redirect_uri=http://localhost:3000", 'Valoracao')
	    		wnd.return_token = function(token){
	    			$('#token').replaceWith(token)
	    		}
	    	})
    	})
    </script>
</html>
